@use "index";

.crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &.phrase {
    margin-top: 2.4rem;
    flex-direction: row;

    span {
      font-weight: 700;
      margin-right: 1.53rem;

      opacity: 0.25;
    }

    font-family: "Barlow Condensed", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.27rem;
    text-align: center;
  }

  &.imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    border-bottom: 0.1rem solid #383b4b;

    margin-top: 3.2rem;

    img {
      height: 22rem;
    }
  }

  &.selector {
    margin-top: 3.2rem;

    ul {
      list-style-type: none;
      display: flex;

      gap: 1.6rem;

      li {
        cursor: pointer;

        &.sliderCircle {
          width: 1rem;
          height: 1rem;
          background-color: index.$white;
          border-radius: 50%;
          opacity: 0.17;

          &.active {
            opacity: 1;
          }

          &:hover {
            opacity: 0.5;
          }

          &:active {
            opacity: 0.05;
          }
        }
      }
    }
  }

  &.role {
    font-family: "Bellefair", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.834rem;
    text-align: center;

    opacity: 0.5;

    margin-top: 3.2rem;
  }

  &.memberName {
    font-family: "Bellefair", serif;
    color: index.$white;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.75rem;

    margin-top: 0.8rem;
  }

  &.bio {
    font-family: "Barlow", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    text-transform: none;

    margin-top: 1.6rem;
  }
}

@media (min-width: 768px) {
  .crew {
    &.phrase {
      font-size: 1.25rem;
      align-self: flex-start;

      span {
        margin-right: 1.2rem;
        margin-left: 2.4rem;
      }
    }

    &.imgContainer {
      order: 5;
      border-bottom: unset;
      margin-top: 2.5rem;

      img {
        height: 33.6rem;
      }
    }

    &.selector {
      order: 4;
      margin-top: 2.5rem;

      ul {
        gap: 1rem;

        li {
          &.sliderCircle {
            width: 0.63rem;
            height: 0.63rem;
          }
        }
      }
    }

    &.role {
      order: 1;
    }

    &.memberName {
      order: 2;
      font-size: 2.5rem;
    }

    &.bio {
      order: 3;
      font-size: 1rem;
      line-height: 1.75rem;
      width: 32rem;
      margin-top: 1rem;
    }
  }
}

@media (min-width: 1440px) {
  .crew {
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;

    &.phrase {
      font-size: 1.55rem;
      display: flex;
      margin: 4rem 0 0 9rem;

      span {
        margin-left: 0;
      }
    }

    &.imgContainer {
      grid-column: 2;
      grid-row: 1 / 6;

      // Trying another ways to scale the image better
      // object-fit: contain;
      // width: 100%;
      // height: 100%;
      // max-height: 100%;

      img {
        margin-left: 6rem;
        margin-top: 3rem;
        height: 36rem;
      }
    }

    &.selector {
      grid-column: 1;
      margin: 0 0 0 9rem;
    }

    &.role {
      grid-column: 1;
      font-size: 1.8rem;
      margin: 0 0 0 9rem;
      align-self: end;
    }

    &.memberName {
      grid-column: 1;
      font-size: 3.1rem;
      margin: 0 0 0 9rem;
      align-self: center;
    }

    &.bio {
      grid-column: 1;
      margin: 0 0 0 9rem;
      width: 24.67rem;
      text-align: initial;
    }
  }
}
