@use "index";

.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &.phrase {
    margin-top: 2.4rem;
    flex-direction: row;

    span {
      font-weight: 700;
      margin-right: 1.53rem;

      opacity: 0.25;
    }

    font-family: "Barlow Condensed", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.27rem;
    text-align: center;
  }

  &.image {
    width: 17rem;
    margin-top: 3.2rem;
  }

  &.selector {
    margin-top: 2.6rem;

    ul {
      list-style-type: none;
      display: flex;

      gap: 2.7rem;

      li {
        height: 3rem;
        cursor: pointer;

        &.active {
          color: index.$white;
          border-bottom: 0.3rem solid;

          a {
            color: index.$white;
          }
        }

        &:active {
          opacity: 0.4;
        }
      }

      li:hover {
        color: index.$pale-gray;
        border-bottom: 0.3rem solid;

        a {
          color: index.$pale-gray;
        }
      }

      a {
        font-family: "Barlow Condensed", serif;
        color: index.$pale-gray;

        text-decoration: none;
        font-size: 1.4rem;

        line-height: 1.68rem;
        letter-spacing: 0.236rem;
        pointer-events: none;
      }
    }
  }

  &.title {
    font-family: "Bellefair", serif;
    color: index.$white;
    font-weight: 400;
    font-size: 5.6rem;
    line-height: 6.4rem;

    margin-top: 2rem;
  }

  &.description {
    font-family: "Barlow", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    text-transform: none;
  }

  .separationLine {
    border-top: 1px solid #383b4b;
    width: 100%;
    margin-top: 3.2rem;
  }

  &.infoTitle {
    font-family: "Barlow Condensed", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.68rem;
    letter-spacing: 0.236rem;
    text-align: center;

    margin-top: 3.2rem;
  }

  &.infoValue {
    font-family: "Bellefair", serif;
    color: index.$white;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 5.7rem;
    letter-spacing: 0.236rem;
    text-align: center;

    margin-top: 1.2rem;
  }
}

@media (min-width: 768px) {
  .destination {
    &.phrase {
      font-size: 1.25rem;
      align-self: flex-start;

      span {
        margin-right: 1.2rem;
        margin-left: 2.4rem;
      }
    }

    &.image {
      width: 18.7rem;
    }

    &.selector {
      ul {
        gap: 2.2rem;

        li {
          height: 2rem;
        }

        a {
          font-size: 1rem;
        }
      }
    }

    &.description {
      font-size: 1rem;
      width: 35.6rem;
      line-height: 1.75rem;
    }

    .separationLine {
      width: 35.6rem;
    }

    &.info {
      flex-direction: row;
      width: 35.6rem;
      justify-content: space-evenly;
    }

    &.infoTitle {
      font-size: 0.88rem;
      margin-top: 1.75rem;
    }

    &.infoValue {
      font-size: 1.75rem;
      line-height: 2rem;
      margin-top: 0.75rem;
    }
  }
}

@media (min-width: 1440px) {
  .destination {
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;

    &.phrase {
      font-size: 1.55rem;
      margin-top: 4.2rem;
      justify-content: flex-start;

      span {
        margin: 0 1.55rem 0 9.25rem;
      }
    }

    &.image {
      width: 24.7rem;
      margin: 5.4rem 0 0 12.8rem;
    }

    &.selector {
      margin-left: 8.72rem;
    }

    &.title {
      margin-left: 8.75rem;
    }

    &.description {
      margin-left: 8.72rem;
      width: 24.67rem;
      text-align: initial;
    }

    .separationLine {
      margin-left: 8.72rem;
      width: 24.67rem;
    }

    &.info {
      justify-content: initial;
      margin-left: 8.72rem;
    }

    &.distance {
      align-items: flex-start;
      flex-direction: column;
    }

    &.travelTime {
      align-items: flex-start;
      flex-direction: column;
      margin-left: 4.4rem;
    }
  }
}
