@use "index";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .homeLogo:hover {
    opacity: 0.8;
  }

  .homeLogo:active {
    opacity: 0.4;
  }

  .hamburguerMenu {
    .icon {
      cursor: pointer;

      &.inactive {
        display: none;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.4;
      }
    }

    .links {
      display: none;
    }

    .links.active {
      display: flex;
      flex-direction: column;

      position: absolute;
      top: 0;
      right: 0;

      background-color: rgba(255, 255, 255, 0.04);
      -webkit-backdrop-filter: blur(3rem);
      backdrop-filter: blur(3rem);

      width: 70vw;
      height: 100vh;
      z-index: 1;

      // transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

      .icon.close {
        padding: 3.9rem 2.645rem 0 0;
        display: flex;
        justify-content: flex-end;
      }

      ul {
        list-style-type: none;
        padding: 6.5rem 0 0 3.2rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        a {
          text-decoration: none;
          font-size: 1.6rem;
          font-family: "Barlow Condensed", serif;
          font-weight: 400;
          line-height: 1.92rem;
          letter-spacing: 0.27rem;
          text-transform: uppercase;
          color: index.$white;

          &:hover {
            opacity: 0.8;
          }

          &:active {
            opacity: 0.4;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .homeLogo {
      margin-left: 2.4rem;
    }

    .hamburguerMenu {
      .icon {
        display: none;
      }

      .links {
        display: flex;

        width: 59vw;
        height: 6rem;

        background-color: rgba(255, 255, 255, 0.04);

        .icon.close {
          display: none;
        }

        ul {
          list-style-type: none;

          display: flex;
          justify-content: space-evenly;
          align-items: center;

          width: 100%;

          li {
            &.active {
              border-bottom: 0.3rem solid index.$white;
            }
          }

          li:hover {
            border-bottom: 0.3rem solid #ffffff7e;
          }

          a {
            text-decoration: none;
            font-size: 0.88rem;
            font-family: "Barlow Condensed", serif;
            font-weight: 400;
            line-height: 5.7rem;
            letter-spacing: 0.236rem;
            text-transform: uppercase;
            color: index.$white;

            span {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  header {
    margin-top: 2.25rem;

    .homeLogo {
      margin-left: 3.05rem;
      position: relative;
    }

    .line {
      border-top: 1px solid #383b4b;
      width: 25.3rem;
      margin-top: 3.2rem;
      position: absolute;
      left: 9rem;
      top: 2rem;
    }

    .hamburguerMenu {
      .links {
        ul {
          background: #ffffff05;
          justify-content: center;
          gap: 2.67rem;

          a {
            span {
              display: inherit;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
