@use "index";

.homepage {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  &.phrase {
    font-family: "Barlow Condensed", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    text-align: center;
    margin-top: 4.8rem;
  }

  &.title {
    font-family: "Bellefair", serif;
    color: index.$white;
    font-weight: 400;
    font-size: 8rem;
    line-height: 10rem;

    margin: 1.6rem 0;
  }

  &.description {
    font-family: "Barlow", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    text-transform: none;
  }

  &.link {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: index.$white;
    border-radius: 50%;
    border: none;
    text-transform: uppercase;

    font-family: "Bellefair", serif;
    color: #000000;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.125rem;
    text-decoration: none;

    width: 15rem;
    height: 15rem;

    margin-top: 8.1rem;

    transition: all 0.2s ease;

    &:hover {
      outline: rgba(255, 255, 255, 0.3) solid 3.5rem;
    }

    &:active {
      opacity: 0.4;
    }
  }
}
