$dark-blue: #0b0d17;
$pale-gray: #d0d6f9;
$white: #ffffff;

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-size: cover;
  margin: 2.4rem;
}
