@use "index";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  h2 {
    margin-top: 2.4rem;

    span {
      font-weight: 700;
      margin-right: 1.53rem;

      opacity: 0.25;
    }

    font-family: "Barlow Condensed", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.27rem;
    text-align: center;
  }

  .imgContainer {
    margin-top: 3.2rem;

    img {
      width: 100vw;
    }
  }

  nav {
    margin-top: 3.4rem;

    ul {
      list-style-type: none;
      display: flex;

      gap: 1.6rem;

      li {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        border: 0.01rem solid #ffffff3f;
        width: 4rem;
        height: 4rem;
        color: index.$white;
        border-radius: 50%;

        font-family: "Bellefair", serif;
        font-size: 1.6rem;
        line-height: 1.834rem;
        letter-spacing: 0.1rem;

        &.active {
          background-color: index.$white;
          border: 0.01rem solid #ffffff;

          color: #0b0d17;
          opacity: 1;
        }

        &:hover {
          border: 0.01rem solid #ffffff;
        }

        &:active {
          opacity: 0.1;
        }
      }
    }
  }

  h3 {
    font-family: "Barlow Condensed", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.68rem;
    letter-spacing: 0.236rem;
    text-align: center;

    margin-top: 2.6rem;
  }

  h1 {
    font-family: "Bellefair", serif;
    color: index.$white;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.75rem;

    margin-top: 0.9rem;
  }

  p {
    font-family: "Barlow", serif;
    color: index.$pale-gray;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    text-transform: none;

    margin-top: 1.6rem;
  }
}
